
body{
  font-family: Verdana, Geneva, sans-serif; 
  line-height: 150%;
  font-size: 16px;
}

nav#topnav.navbar.navbar-inverse{
  margin-bottom: 0;
  border-radius: 0;
}

h1, h2, h3, h4, h5{
	font-size: 2em;
	color: #bbb;
	font-weight: bold;
}

footer{
	margin-top: 40px;
	background: #222222;	
}

#copy{
	color: #fff;
	text-align: center;	
}

.art_title{
	color: #ff8500;
	font-size: 1.2em;
	margin-bottom: 2px;
}

.date{
	margin-bottom: 2px;
	color: #aaa;
	font-size: .6em;
	font-style: italic;
}

.btn:hover{
	color: #fff;
	background: #ff8500;
	
}

.article{
	min-height: 420px;
}

.banner{
	padding: 0;
	position: relative;
}

.banner img{
	width: 100%;
	height: auto;
}

.banner h1{
	position: absolute;
	top: 0px;
	left: 10px;
}

.form-horizontal {
	width: 100%;
}
input, textarea {
	width: 90%;
}

textarea {
	min-height: 300px;
}

button.submit {
	margin: 10px 19%;
	width: 70%; 
}

.call-to-action{
      	height: 80px;
      	margin: 11px 0;
      	background: repeating-linear-gradient(
  			150deg,
  			#ccc,
  			#ccc 3px,
  			#aaa 5px,
  			#aaa 3px);
}

.call-to-action p{
	line-height: 80px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #ff8500;
}


@media all and (max-width: 768px){
	.call-to-action p{
		font-size: 15px;
	}
}